<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        xmlns:tools="http://schemas.android.com/tools"
        package="com.zhijing.shoppingcenter">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:name=".app.MyApplication"
            android:allowBackup="true"
            android:icon="@drawable/idcode"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            android:usesCleartextTraffic="true"
            tools:targetApi="m">
        <activity android:name=".IdCode.Product.getExcel.GetExcelActivity"></activity>
        <activity android:name=".app.ResActivity" />
        <activity android:name=".HomePage.HomepageWithBN" />
        <activity android:name=".app.LoginActivity" />
        <activity android:name=".IdCode.Product.ProductDetails" />
        <activity android:name=".app.WebViewActivity" />
        <activity android:name=".IdCode.Product.Product_info" />
        <activity android:name=".IdCode.company.CompanyDetails" />
        <activity android:name=".app.GoodsInfo" />
        <activity android:name=".app.HomePage" />
        <activity android:name=".app.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
                android:name="com.journeyapps.barcodescanner.CaptureActivity"
                android:screenOrientation="portrait"
                tools:replace="screenOrientation" />

        <meta-data
                android:name="com.baidu.lbsapi.API_KEY"
                android:value="tVWB18rwKQ7iZdSLRHQZ5B66a08Ekylj" />

        <service
                android:name="com.baidu.location.f"
                android:enabled="true"
                android:process=":remote" />
    </application>

</manifest>